body
{
  font-family: 'Baloo Paaji 2', cursive !important;
  line-height: 1.6;
  margin: 0 !important;
  padding: 0;
  background: #ffffff;
  font-family: "Avenir Next", "Avenir", sans-serif;
  overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
}

a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a:hover{
  color: $red;
}